@import url('https://fonts.googleapis.com/css?family=Lato|Titillium+Web:300');

html, body {
    margin: 0;
    padding: 0;
    height: 100% !important;
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif !important;

}

h1 {
    font-family: 'Lato', sans-serif !important;
}

/*overwrite the bootstrap anchor color*/
.page-link {
    color: #17a2b8 !important;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}


/*navbar*/
.navbar {
    background-color:rgba(0,0,0,0.6);
}

/*end of navbar*/

/*recent-post*/
article.post {
    letter-spacing: .75px;
    margin: 100px 0 0 0;
    padding: 10px 0 0 0;
    font-weight: 300;
    line-height: 45px;
}

#read-more {
    text-decoration: none;
    color: #17a2b8;
}

#read-more :visited{
    text-decoration: none;
    color: #868e96;
}

#read-more :hover{
    text-decoration: none;
    color: #868e96;
}
.post-info {
    display: inline-block;
}
/*end of recent-post*/
/*weather-widget*/
#weather-widget{
    text-align: center;
    letter-spacing: .75px;
    margin: 120px 0 0 0;
    font-weight: 300;
    color: whitesmoke;
    background-image: url("/static/image/weather-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#weather-icon{
    max-width: 90px;
    max-height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
/*end of weather-widget*/

/*search-widget*/
#search-widget {
    text-align: center;
    margin: 50px 0 0 0;
}
/*end of search-widget*/

/*category-widget*/
#category-widget {
    letter-spacing: .5px;
    margin: 50px 0 0 0;
}

.blog-category-tag a:link{
    text-decoration: none;
    font-size: 150%;
    padding: 0px 30px;
    text-align: center;
    color: whitesmoke;
}
.blog-category-tag a:visited{
    text-decoration: none;
    font-size: 150%;
    padding: 0px 30px;
    text-align: center;
    color: whitesmoke;
}

.blog-category-tag a:hover{
    text-decoration: none;
    font-size: 200%;
    padding: 0px 30px;
    text-align: center;
    color: whitesmoke;
}
/*end of category-widget*/

/* search-result */
#search-result{
    text-align: center;
    margin: 50px 0 0 0;
}
/* end of search-result*/

/* category-result */
#category-result{
    text-align: center;
    margin: 50px 0 0 0;
}
/* end of category-result*/

/* comment */
.comment{
    margin: 150px 0 0 0;
}
/* end of comment*/

/* profile-widget */
#profile-widget {
    text-align: center;
    letter-spacing: .75px;
    margin: 120px 0 0 0;
    font-weight: 300;
}
/* end of perofile-widget*/

/*social-widget*/
#social-widget {
    text-align: left;
    margin: 50px 0 0 0;
}
/*end of social widget*/

/*footer*/
.footer-bottom {
    background-color: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
}

/*about me*/
.about-font {
    font-family: 'Indie Flower', cursive;
    font-size: large;
    font-weight: bold;
}


#social-facebook:hover {
    color: #3B5998;
}

#social-linkedin:hover {
    color: #4099FF;
}

#social-github:hover {
    color: #000000;
}

#social-email:hover {
    color: #d34836;
}