<div class="container">
    <div>
        <h1 class="page-header text-center">
            Article Title
        </h1>
    </div>
    <!-- Blog Entries -->
    <div class="post">
        <img src="/static/image/bg1.jpg" alt="" style="width: 100%">
        <!-- First Blog Post -->
        <div class="well-sm">
            <h2>
                My First Blog
            </h2>
        </div>
        <div class="well-sm">
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis ipsum officiis rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore,
                veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis ipsum officiis rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore,
                veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis ipsum officiis rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore,
                veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis ipsum officiis rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore,
                veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora,
                necessitatibus
                inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti
                debitis
                ipsum
                officiis rerum.</p>
            <hr>
            <!-- Share To Social Media -->
            <!-- Comments -->
        </div>
    </div>
    <!-- Pager -->
    <ul class="pager well">
        <button class="previous btn pull-left">
            <span class="glyphicon glyphicon-hand-left"> Older</span>
        </button>
        <button class="next btn pull-right">
            <span class="glyphicon glyphicon-hand-right"> Newer</span>
        </button>
    </ul>
    <hr>
</div>