{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <!--import css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="/static/css/style.css">-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <!--&lt;!&ndash; Global Site Tag (gtag.js) - Google Analytics &ndash;&gt;-->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107268158-1"></script>-->
    <!--import ckEditor-->
    <script src="//cdn.ckeditor.com/4.8.0/full/ckeditor.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        }
        gtag('js', new Date());

        gtag('config', 'UA-107268158-1');
    </script>
    <!--import weather-->
    <script type="text/javascript" src="{% static 'js/weather.js' %}"></script>
    <!--import blog search-->
    <script type="text/javascript" src="{% static 'js/blog-category-tag.js' %}"></script>
    <!--<script type="text/javascript" src="/static/js/blog-category-tag.js"></script>-->
    <title>Jeffery</title>
</head>
<body>
<!--Nav Bar-->
{% block navbar %}
{% endblock %}

<div class="container nopadding">
    <div class="row">
        <div class="col-md-9">
            <!--Main Content-->
            {% block main_content %}
            {% endblock %}
        </div>
        <div class="col-md-3">
            <!--Side Widget-->
            {% block side_widget %}
            {% endblock %}
        </div>
    </div>
</div>

{% block footer %}
{% endblock %}

</body>
</html>