{% extends "base.html" %}

{% block image_header %}
    {% include "image_header.html" %}
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block main_content %}
    <!-- Blog Entries Column -->
    <div>
        <h1 class="page-header text-center">
            Category ({{ request.GET.category }})
        </h1>
    </div>
    <!-- Blog Entries -->
    {% autoescape off %}
        {% for article in article_list %}
            <div class="post">
                <!-- First Blog Post -->
                <div class="well-sm">
                    <h3>{{ article.title }}</h3>
                    <hr>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ article.published_date }} |
                        By {{ article.author }} | {{ article.article_category }}</p>
                    <hr>
                    <p>{{ article.description }}</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <a href='{% url "article" %}?id={{ article.id }}'><p><b> Read More >></b></p></a>
                        </div>
                    </div>
                </div>
            </div><br><br>
        {% endfor %}
    {% endautoescape %}
    <!-- Pager -->
    {% include "paginator.html" %}
{% endblock %}