<div class="container">
    <h2>Comments</h2><br>
    <ul class="list-unstyled">
        {% for comment in comment_list %}
            <li>
                <div>
                    <h3><a href='{{ comment.url }}'>{{ comment.username }}</a>
                        <small>{{ comment.published_date }}</small>
                    </h3>
                </div>
                <div>
                    <p>{{ comment.content }}</p>
                </div>
            </li>
            {% for children_comment in comment.children_comment %}
                <hr style="border-top: dotted 1px;" />
                <li style="margin-left:55px; margin-top:5px;">
                    <h3><a href="{{ children_comment.url }}">{{ children_comment.username }}</a>
                         <small>{{ children_comment.published_date }}</small></h3>
                    <div>
                        <p>{{ children_comment.content }}</p>
                    </div>
                </li>
            {% endfor %}
            <hr>
        {% endfor %}
    </ul>
    <br>
</div>

<div class="container">
    <h2>Leave Your Comments Here</h2><br>
    <form action="{% url 'comment_post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username"> Name: (required)</label>
            <p>{{ comment_form.username }}</p>
        </div>
        <div class="form-group">
            <label for="email"> Email: (Optional)</label>
            <p>{{ comment_form.email }}</p>
        </div>
        <div class="form-group">
            <label for="url"> URL: (Optional)</label>
            <p>{{ comment_form.url }}</p>
        </div>
        <div class="form-group">
            <label for="comment"> Comment: </label>
            <p>{{ comment_form.comment }}</p>
        </div>
        <p>{{ comment_form.article }} <input name="submit" type="submit" id="submit" tabindex="5" value="Submit"
                                             class="button"/></p><br>
    </form>
</div>



