<!--my word-->
<article class="post">
    <h1 class="post-title">
        About Me
    </h1>
    <p>I'm Zhenyu, also Jeffery, a full stack web developer. I love to create simple but useful web applications.
        All my projects have simple design and focus on the specific functionality. In the future I will
        try to catch up some design skills to make them elegant.</p>
    <p>I believe that Anyone who stops learning is old and anyone who keeps learning stays young. Therefore, to stay young,
        I am always super excited about learning new trend of technology.</p>
    <p>I want to make more friends so that maybe one day we can make this world be a better place to live.</p>
    <p>To prevent myself from getting bored, I am always super excited about next challenge.</p>
    <p>Come to say "Hi".</p>
    <p>PS. I achieved bachelor degree of Computer Science from University of Victoria in Canada. I speak English and Chinese.
    Cheers : )</p>
</article>