<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/home" class="navbar-brand">Jeffery's Blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/home"><span class="glyphicon glyphicon-home"> Home</span></a></li>
            <li><a href="/post"><span class="glyphicon glyphicon-pencil"> Post</span></a></li>
            <li><a href="/about"><span class="glyphicon glyphicon-sunglasses"> Me</span></a></li>
        </ul>
    </div>
</nav>