<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/home" class="navbar-brand"><h2 class="about-font">Zhang, Zhenyu's Blog</h2></a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li><a href="/home"><h3><span class="glyphicon glyphicon-home"> Home</span></h3></a></li>
            <li><a href="/post"><h3><span class="glyphicon glyphicon-pencil"> Post</span></h3></a></li>
            <li><a href="/about"><h3><span class="glyphicon glyphicon-sunglasses"> Me</span></h3></a></li>
        </ul>
    </div>
</nav>