<div class="container">
    <div class="row justify-content-center align-items-center">
        <ul class="pagination text-center">
            {% if article_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ article_list.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="sr-only">
                    <a class="page-link" href="#"><span>&laquo;</span></a>
                </li>
            {% endif %}
            {% for i in article_list.paginator.page_range %}
                {% if article_list.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if article_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ article_list.next_page_number }}">&raquo;</a>
                </li>
            {% else %}
               <li class="sr-only">
                    <a class="page-link" href="#"><span>&raquo;</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>