<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <div>
                <h1 class="page-header">
                    All Posts
                </h1>
            </div>
            <!-- Blog Entries -->
            {% for article in article_list %}
            <div class="post">
                <!-- First Blog Post -->
                <div class="well-sm">
                    <h3>
                        {{ article.title }} {{ article.published_date }} {{ article.auther }}
                    </h3>
                </div>
            </div><br><br>
            {% endfor %}
            <!-- Pager -->
            {% include "paginator.html" %}
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <div>
                <h1 class="page-header">
                    Welcome
                </h1>
            </div>
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            {%for category in category_list|slice:":4"%}
                            <li><a href="#">{{category.category_name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            {%for category in category_list|slice:"4:"%}
                            <li><a href="#">{{category.category_name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Tag Cloud</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus
                    laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>
        </div>
    </div>
    <hr>
</div>