<div class="col-md-4 about-font">
    <div>
        <h1 class="page-header text-center">
            Tag Cloud
        </h1>
    </div>
    <div class="cloud well">
        <ul>
            <li><a href="/">Web Development</a></li>
            <li><a href="/">JavaEE</a></li>
            <li><a href="/">JUnit</a></li>
            <li><a href="/">XML</a></li>
            <li><a href="/">Tomcat</a></li>
            <li><a href="/">HTML+Javascript+CSS</a></li>
            <li><a href="/">JQuery</a></li>
            <li><a href="/">DOM</a></li>
            <li><a href="/">Bootstrap</a></li>
            <li><a href="/">Python</a></li>
            <li><a href="/">Django</a></li>
            <li><a href="/">Web Crawler</a></li>
            <li><a href="/">ORM</a></li>
            <li><a href="/">Node.js</a></li>
            <li><a href="/">RESTful</a></li>
            <li><a href="/">JSON</a></li>
            <li><a href="/">Software Development</a></li>
            <li><a href="/">MVC</a></li>
            <li><a href="/">MySQL</a></li>
            <li><a href="/">Oracle Database</a></li>
            <li><a href="/">SQL Server</a></li>
            <li><a href="/">Windows+Linux</a></li>
            <li><a href="/">AWS</a></li>
            <li><a href="/">Git</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Eclipse+Pycharm+Sublime</a></li>
        </ul>
    </div>
    <div class="well text-center">
        <h3>Download Resume</h3><br>
        <a class="btn-lg btn-info" href="/file/resume.pdf" target="_blank" id="download">Download Here</a><br><br>
    </div>
</div>
