<!--social-widget-->
<div id="social-widget">
    <a href="https://www.linkedin.com/in/zhenyu-zhang"><i id="social-linkedin"
    class="fa fa-linkedin-square fa-3x social"></i></a>
    <a href="https://github.com/zhenyu0519"><i id="social-github"
    class="fa fa-github-square fa-3x social"></i></a>
    <a href="https://www.facebook.com/chuang.chenyoo"><i id="social-facebook"
    class="fa fa-facebook-square fa-3x social"></i></a>
    <a href="mailto:kimoneeboy@yahoo.ca"><i id="social-email"
    class="fa fa-envelope-square fa-3x social"></i></a>
</div>
