<!--weather widget-->
<div id="weather-widget" class="card card-outline-info">
    <img id="weather-icon" class="card-img-top rounded" src="#" alt="weather icon" >
    <div class="card-body">
        <div id="date" class="card-text"></div>
        <div id="location" class="card-title"></div>
        <div id="current" class="card-text"></div>
        <div id="description" class="card-text"></div>
        <div id="min-max" class="card-text"></div>
        <div id="description-tomorrow" class="card-text"></div>
    </div>
</div>